
body {
    background-color: rgb(12, 15, 20);
    list-style: none;
    box-sizing: border-box;
    padding: 9mm;
    margin: 0;
  }
  .conten{
    text-align: center;
    width: 100%;
    height: 400;
    margin-top: 1%;
  }
  .container{
    position: relative;
  }
  .heading{
    position: absolute;
    font-family: Georgia;
    top: 30%;
    color: white;
    right: 0px;
    left: 0px;
    top: 0px;
    bottom: 0px;
  }
  .heading h1,h2{
    margin-left: 0.5em;
    font-weight:300;
    color: rgb(233, 233, 233);
  }
a{
  text-decoration: none;
}
.spdimg{
  width:100%;
  height: 22em;
  border-radius: 30px;   
}

.button{
  text-decoration: none;
  padding: 5px 3px;
  padding-left: 10px;
  border-color: white;
  font-size: 1rem;
  font-family: tahoma;
  font-weight: bold;
  margin-top: 0px;
  margin-left: 0.8em;
  display: inline-block;
}
.button{
  border: 2px solid white;
  color:black ;
  text-transform:uppercase;
  transition: all 0.5s ease-in-out;
  border-radius: 50px;
  background: white;
  font-weight: bold;
  display: inline-block;
}
.button .fa{
  margin-left: 20px;
}

.button:hover, .button:focus{
background: transparent;
text-decoration: transparent;
color: white;
font-weight: bold;
outline: none;
}
button.mfp-close{
  overflow: visible;
  cursor:pointer;
  background: white;
  border:0;
  border: 0;
  -webkit-appearance: none;
  display: block;
  outline: 0;
  padding: 0;
  z-index: 1046;
  box-shadow: none;

}
.mfp-close{
  background-color: whitesmoke;
  width: 44px;
  height: 44px;
  border-radius: 50px;
  line-height: 44px;
  position: absolute;
  right: 40px;

}
.vdo{
  border-style: none;
  border-radius: 30px;    
}

.container2{
  display: flex;
}
.show{
  
    color:#fff;
    font-family:fantasy;
    font-size: xx-small;
    padding: 2em;
    overflow: visible;   
    text-align: center;
}
.book{
    width: 20em;
    height: 4em;   
    padding: 0em;
    margin: 0.5em; 
    border-width: 0.4em;
    font-size: medium;
    border-color: rgb(247, 1, 50);
    text-align: center;
    color: rgb(0, 0, 0);
    background: rgba(245, 245, 245, 0.767);   
    cursor: pointer;
}
.book:hover{
  background-color: rgb(6, 183, 18);
}



.about{
    font-size: 2em;
    margin-top: 0em;
    margin-left: 2em;
    font-weight: 800;
    font-variant: small-caps;
    text-decoration: none;
    text-shadow: rgb(231, 0, 0);
    text-indent: 1em;
    text-justify: newspaper;
    letter-spacing: 1mm;
    padding: 0em;
    display: flex;
    flex-wrap: wrap;
}
.video h5{
  margin-top: 0em;
}
.cast{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  background-color: rgba(16, 59, 128, 0.082);
  border-radius: 15px;
  /* flex-wrap: wrap; */
}
.cast2 {
  margin-top: 0.4em;
  /* justify-content: center; */
  text-align: center;
  /* align-self: center; */
  cursor: pointer;
}
.acname1{
  margin: 0;
  margin-bottom: 0.8em;
  font-size:15px;
  font-weight: 900;
  flex-wrap: wrap;
}
.acname2{
  color: rgba(255, 255, 255, 0.534);
  margin: 0;
  margin-bottom: 0.8em;
  font-size:15px;
  font-weight: 900;
  flex-wrap: wrap;
/* }
.aboutmovie{
  /* display: flex; */
} */
.aboutmovie h5{
  display: inline-block;
  }
  .aboutmovie em{
    /* margin-top: 8mm; */
    /* margin-bottom: 0mm; */
    font-size: 1rem;
    margin-left: auto;
    margin-left: auto;
  }


.footer{
  background:none;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgba(14, 8, 7, 0);
  font-size: large;
  display:flex;
  flex-direction: row;
  justify-content:center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer2{
  width: 60px;
  height: 60px;
  border-radius: 90%;
  padding: 15px;
}
.footer3{
  
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: rgb(0, 0, 0);
  font-size: large;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap:wrap;
}
.footer3 a{
  text-decoration: none;
  color: rgb(255, 255, 255);
 text-align: justify;
  letter-spacing: 3px;
  margin-bottom: 0em;
  border: none
}
.footer3 a:hover{
  color: red;
}
@media (max-width: 900px) 
{
  body{
    margin: 0;
    padding:0;
  }
  .spdimg{
    height: 9rem;
    border-radius: 0%;

  }
  #videostory iframe{
    border-radius: 15%;
    width: 400px;
    height: 300px;
  }
  .conten iframe{
    border-radius: 15%;
    width: 380px;
    height: 300px;
  }
  .heading h1,h2 {
    font-size: 0.8rem;
    font-weight:400;
    letter-spacing: normal;
  }

.heading{
  font-size: 10px;
  font-weight: bolder;
  
}
.button{
  font-size: 0.4rem;
  text-align: center;
  background-color: aqua;
  border-color: black;

}

.show{

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2%;
  padding: 0rem;
  height: 300px;
  

  
}
.book{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-radius: 50px;
  font-size: small;
  width: 20em;
  height: 5em;
  border-width: 3px;
  background-color: rgba(0, 255, 255, 0.836);
  
}
.aboutmovie{
  font-size:1rem;
  text-align: center;
  margin: 0.5rem;
}
.cast{
  display: flex;
  flex-direction:column;
  overflow:scroll;
  background-color: rgb(12, 15, 20);
  width: 100%;
  justify-content: space-evenly;
}
.footer2{
    margin: 0%;
    padding: 0%;
}

  
}

/* experimental */
.mb-heading{
  
  color:white;
  display: flex;
  border-color: red;
  /* background-color: yellow; */

}
.table{ 
  color:white;
  width: 50%;
  background-color: rgb(12,15,20 );
  /* border: 1px solid #ededed; */
  
} 

.table {
  padding:20px;
  /* border: 1px solid white; */
}
.table td{
  padding: 10px;
  border: 1px solid wheat;
}
.table .value{
  text-align: center;
}

.mb-details .details-wrapper .table  table tr{
  width: 140px;
  color: #a7a7a7;
  
}
.mb-heading {
  /* padding:auto; */
  display: flex;
 margin-left: 8%;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 font-size: 25px;
 font-weight: 700;
}
.show{
  
  font-size: 25px;
 font-weight: 700;
}
.details-wrapper .table {
  margin-left:auto;
  margin-right: auto;
}




